
<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>
    
  Jinja2 笔记 - 七录书斋
  

  </title>
  <meta name="author" content="">
  <meta name="description" content="">

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link href="asset/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
  <link href="atom.xml" rel="alternate" title="七录书斋" type="application/atom+xml">
  <script src="asset/js/modernizr-2.0.js"></script>
  <script src="asset/js/jquery.min.js"></script>
  <script src="asset/highlightjs/highlight.pack.js"></script>
  <link href="asset/highlightjs/styles/solarized_light.css" media="screen, projection" rel="stylesheet" type="text/css">
  <script>hljs.initHighlightingOnLoad();</script>

  <style type="text/css">
  .cat-children-p{ padding: 6px 0px;}
  .hljs{background: none;}
  </style>
  <script type="text/javascript">
  var isAddSildbar = true;
  </script>
  <script src="asset/js/octopress.js" type="text/javascript"></script>
</head>
<script type="text/javascript">
//链接新开窗口
function addBlankTargetForLinks () {
  $('a[href^="http"]').each(function(){
      $(this).attr('target', '_blank');
  });
}
$(document).ready(function(event) {
  addBlankTargetForLinks();
});
</script>
<body   >
  <header role="banner"><hgroup>
  <h1><a href="index.html">七录书斋</a></h1>
  
    <h2></h2>
  
</hgroup>

</header>
  <nav role="navigation"><ul class="subscription" data-subscription="rss">
  <li><a href="atom.xml" rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>
  
</ul>
  
<form action="http://google.com/search" method="get">
  <fieldset role="search">
    <input type="hidden" name="q" value="site:forresthcang.com/wiki" />
    <input class="search" type="text" name="q" results="0" placeholder="Search"/>
  </fieldset>
</form>
  
<ul class="main-navigation">
  <li><a href="index.html">Home</a></li>
  <li><a href="archives.html">Archives</a></li>
</ul>

</nav>
  <div id="main">
    <div id="content"> 
<div>
	<article class="hentry" role="article">
	<header>
			  	<h1 class="entry-title">Jinja2 笔记</h1>
				<p class="meta"><time datetime="2017-12-26T18:05:43+08:00" pubdate data-updated="true">2017/12/26</time></p>
			 </header>
		  	<div class="entry-content">
			  	<h2 id="toc_0">模板设计者文档</h2>

<p>模板仅仅是文本文件，它可以生成任何基于文本的格式（HTML、XML、CSV等）。</p>

<p>模板包含变量或表达式，这两者再模板中会被替换为值，模板中还有标签，控制模板的逻辑。</p>

<h3 id="toc_1">变量</h3>

<pre><code>{{ foo.bar }}
</code></pre>

<p>花括号不是变量的一部分，而是打印语句的一部分。</p>

<h3 id="toc_2">过滤器</h3>

<p>变量可以通过过滤器修改。过滤器与变量用管道<code>|</code>分割，并且也可以用圆括号传递可选参数。多个过滤器可以链式调用，前一个过滤器的输出会被后一个过滤器的输入。</p>

<h3 id="toc_3">测试</h3>

<p>测试可以用于对照普通表达式测试一个变量。要测试一个变量或表达式，你要在变量后加一个 is 以及测试的名称。例如，要得出一个值是否定义过，可以用 <code>name is defined</code>，这回根据 name 是否定义返回 true 或 false</p>

<p>测试也可以接受参数，如果测试只接受一个参数，你可以省去括号来分组它们，例如，下面的表达式做同样的事情：</p>

<pre><code>{% if loop.index is divisibleby 3 %}
{% if loop.index is divisibleby(3) %}
</code></pre>

<h3 id="toc_4">注释</h3>

<pre><code>{# note: disabled template because we no longer use this
    {% for user in users %}
        ...
    {% endfor %}
#}
</code></pre>

<h3 id="toc_5">空白控制</h3>

<p>默认配置中，模板引擎不会对空白做进一步修改，所以每个空白（空格、制表符、换行符等）都会原封不动地返回。如果应用配置了 Jinja 的 trim_blocks，模板标签后的第一个换行符会被自动移除。</p>

<p>此外，你也可以手动剥离模板中的空白。当你再块（比如一个 for 标签、一段注释或变量表达式）的开始或结束防止一个减号，可以移除块前或块后的空白：</p>

<pre><code>{% for item in seq -%}
    {{ item }}
{%- endfor %}
</code></pre>

<p>这会产生不带空白的所有元素，如果 seq 是 1 到 9 的数字列表，输出会是 <code>123456789</code>。</p>

<p>注：标签和减号之间不能有空白。</p>

<h3 id="toc_6">转义</h3>

<p>有时想要甚至必要让 Jinja 忽略部分，不会把它作为变量块来处理，例如，如果使用默认语法，你想在使用把 <code>{{</code> 作为原始字符串使用：</p>

<pre><code>{{ &#39;{{&#39; }}
</code></pre>

<p>对于较大的段落，标记一个块未 raw 是有意义的，例如展示 Jinja 语法的实例，你可以在模板中用这个片段：</p>

<pre><code>{% raw %}
    &lt;ul&gt;
    {% for item in seq %}
        &lt;li&gt;{{ item }}&lt;/li&gt;
    {% endfor %}
    &lt;/ul&gt;
{% endraw %}
</code></pre>

<h3 id="toc_7">行语句</h3>

<p>如果应用启用了行语句，就可以把一个行标记为一个语句，例如如果配置行语句前缀为 <code>#</code>，下面两个例子是等价的：</p>

<pre><code>&lt;ul&gt;
# for item in seq
    &lt;li&gt;{{ item }}&lt;/li&gt;
# endfor
&lt;/ul&gt;

&lt;ul&gt;
{% for item in seq %}
    &lt;li&gt;{{ item }}&lt;/li&gt;
{% endfor %}
&lt;/ul&gt;
</code></pre>

<p>行语句前缀可以出线訾呵一行的任意位置，只要它前面没有文本，为了语句有更好的可读性，在块的开始以冒号结束：</p>

<pre><code># for item in seq:
    ...
# endfor
</code></pre>

<p>注：如有未闭合的圆括号、花括号或方括号，行语句可以跨越多行。</p>

			</div>

		
	  
		<footer>
		 <p class="meta">

			<strong>Categories:</strong>&nbsp; 
			<span class="categories">
			
			    <a class='category' href='python.html'>Python</a>&nbsp;
			 
			</span>
		    </p>
		    <p class="meta">
		      
		 </p>
	    
		<div class="sharing">
			<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://tisogas-wiki.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
		</div>

	    <p class="meta">
	    
	    
	        <a class="basic-alignment right" href="15133066531642.html" 
	        title="Next Post: Waht is a mixin, and why are they useful?">Waht is a mixin, and why are they useful? &raquo;</a>
	    
	    </p>
	  </footer>
	</article>
</div>
 <aside class="sidebar"> 

	<section>
	  <h1>Categories</h1>
	  <ul id="recent_posts">
	  
	      <li class="post">
	        <a href="programming.html"><strong>Programming&nbsp;(46)</strong></a>
	         <p class="cat-children-p"> 
	        
	        	<a href="python.html">Python&nbsp;(16)</a>&nbsp;&nbsp;
	        
	        	<a href="algorithms.html">Algorithms&nbsp;(2)</a>&nbsp;&nbsp;
	        
	        	<a href="swift.html">Swift&nbsp;(11)</a>&nbsp;&nbsp;
	        
	        	<a href="lisp.html">Lisp&nbsp;(3)</a>&nbsp;&nbsp;
	        
	        	<a href="javascript.html">JavaScript&nbsp;(1)</a>&nbsp;&nbsp;
	        
	        	<a href="network.html">Network&nbsp;(3)</a>&nbsp;&nbsp;
	        
	        	<a href="database.html">Database&nbsp;(4)</a>&nbsp;&nbsp;
	        
	        	<a href="web.html">Web 开发&nbsp;(1)</a>&nbsp;&nbsp;
	        
	         </p> 
	      </li>
	   
	  </ul>
	</section>
	<section>
	  <h1>Recent Posts</h1>
	  <ul id="recent_posts">
	  
	      
		      <li class="post">
		        <a href="15142827431626.html">Jinja2 笔记</a>
		      </li>
	     
	  
	      
		      <li class="post">
		        <a href="15133066531642.html">Waht is a mixin, and why are they useful?</a>
		      </li>
	     
	  
	      
		      <li class="post">
		        <a href="15127168765298.html">[笔记]编写高质量代码：改善Python程序的91个建议</a>
		      </li>
	     
	  
	      
		      <li class="post">
		        <a href="15119252883641.html">Git Cheat Sheet</a>
		      </li>
	     
	  
	      
		      <li class="post">
		        <a href="15112591097718.html">Nginx 笔记</a>
		      </li>
	     
	  
	      
	  
	      
	  
	      
	  
	      
	  
	      
	  
	      
	  
	      
	  
	      
	  
	      
	  
	      
	  
	      
	  
	      
	  
	      
	  
	      
	  
	      
	   
	  </ul>
	</section>
	
</aside> </div></div>
  <footer role="contentinfo"><p>
  Copyright &copy; 2014 -  -
  <span class="credit">Powered by <a target="_blank" href="http://www.mweb.im">MWeb</a> &nbsp;&nbsp; Theme by <a href="http://octopress.org">Octopress</a></span>
</p>

</footer>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script><script type="text/x-mathjax-config">MathJax.Hub.Config({TeX: { equationNumbers: { autoNumber: "AMS" } }});</script>

</body>
</html>